In [1]:
import pandas as pd
import numpy as np

table = [-1] * 8

rows = []

for X in np.arange(0, 9 + 1.5, 1.5):
    for Y in range(-3, 3 + 1, 1):
        A = (X - 3) > 4
        B = abs(Y) <= 1
        C = (X + Y**2) > 7

        F = ((A <= B) and (not C)) or (not B)

        idx = A * 4 + B * 2 + C

        table[idx] = F

        rows.append([X, Y, A, B, C, F])

df1 = pd.DataFrame(rows, columns=["X", "Y", "A", "B", "C", "Высказывание"])
df1 = df1.style.hide(axis="index").format({"X": "{:.1f}"})

display(df1)

rows = []
for i in range(8):
    rows.append([bool(i & 4), bool(i & 2), bool(i & 1), table[i]])

df2 = pd.DataFrame(rows, columns=["A", "B", "C", "Высказывание"])

display(df2)

       A      B      C Высказывание
0  False  False  False         True
1  False  False   True         True
2  False   True  False         True
3  False   True   True           -1
4   True  False  False           -1
5   True  False   True         True
6   True   True  False           -1
7   True   True   True        False